
TemporalSeries/GroupHomeworks/enunciados/Grupo 1 - PRONOSTICO DIARIO DE PM25 y TEMPERATURA MINIMA.pdf
TemporalSeries/GroupHomeworks/enunciados/Grupo 2 - PRONOSTICO DE RETORNOS DIARIOS DE COMMODITIES.pdf
TemporalSeries/GroupHomeworks/enunciados/Grupo 3 - PRONOSTICO HORARIO DE CONSUMO DE ENERGIA SOLAR.pdf
TemporalSeries/GroupHomeworks/enunciados/Grupo 4 - PRONOSTICO DIARIO DE HUMEDAD y TEMPERATURA MEDIA.pdf
TemporalSeries/GroupHomeworks/enunciados/Grupo 5 - PRONOSTICO CON DATASET SENAMHI.pdf
